body {
	
}
.div-join {
	max-width: 550px;
	margin: 0 auto;
}
.div-center {
	margin: 0 auto;
	text-align: center;
}
.btn-join {
	min-width: 100px;
	width: 60%;
	margin-right: 5px;
}
.btn-cancel {
	min-width: 60px;
	width: 30%;
	margin-left: 5px;
}